/* ////// */
/* STYLES */
/* ////// */

/* MOBILE */

.Container {
  /*Position*/
  z-index: 999;

  /* Display */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;

  /* Visual */
  background-color: #e6e6e6;
  box-shadow: 0px 10px 15px 5px #e6e6e6;

  /*vfx´s*/
}

.ImageContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.NavContainer {
  width: 100%;
}

.Nav {
  padding: 2%;
  align-content: center;
}

.Logo {
  margin-top: 3%;
  margin-left: 5%;
  width: max-content;
}
.Profile {
  margin-top: 3%;
  margin-right: 5%;
  width: max-content;
}

.Panel {
  text-align: center;
  font-family: "Russo One";
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;

  margin: 0.2rem;
  color: #27343c;
}

.Element {
  color: #27343c;
}

.Element:hover {
  text-decoration: none;
  outline: none;
  color: #27343c;
}

.Element:active,
.Element:focus {
  font-size: 26px;
  line-height: 31px;
  color: #00e1ff;
}
