/***********/
/* 	VIEWS  */
/***********/

/* MOBILE */
.Container {
  z-index: 0;
}

.Slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Image2 {
  /* Position */
  z-index: 0;
}

.Texture {
  /* Position */
  z-index: 1;
}

.Start {
  /* Position */
  position: relative;
  /* Display */
  display: flex;
  flex-direction: column;
  text-align: center;

  /*Visual*/
  font-family: "Russo One";
  font-style: normal;
  color: #ffffff;
}

.Start > b {
  font-size: 2.1rem;
  line-height: 4rem;

  color: #00e1ff;
}

.Learn {
  z-index: 2;
  position: relative;
}

.Slide2 {
  display: flex;
  align-items: center;
  justify-content: right;
}

.Character {
  /* Position */
  position: relative;
  /* Display */
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 11%;
  bottom: 15%;
}

.Subcontainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  margin-top: 25%;
}

.Title {
  /* Position */
  position: relative;
  z-index: 2;

  /* Display */
  margin: 3%;
  /*Visual*/
  font-family: "VT323";
  font-style: normal;
  font-size: 2.6rem;
  color: #ffffff;
}

.Play {
  position: relative;
  z-index: 2;

  /*Display*/
  width: 80%;
}

.Telegram {
}

.Telegram:hover {
}

/* /////////////// */
/*      TABLET     */
/* /////////////// */

@media only screen and (min-width: 550px) {
  .Start {
    /* Position */
    position: relative;
    width: 100%;
    display: inline-block;
  }
}
